
*.[oa]
*~

# Blank lines or lines starting with # are ignored.
# Standard glob patterns work.
# You can start patterns with a forward slash (/) to avoid recursivity.
# You can end patterns with a forward slash (/) to specify a directory.
# You can negate a pattern by starting it with an exclamation point (!).

# no .a files
*.a

# but do track lib.a, even though you're ignoring .a files above
!lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
/TODO

# ignore all files in the build/ directory
build/

# ignore doc/notes.txt, but not doc/server/arch.txt
doc/*.txt

# ignore all .pdf files in the doc/ directory
doc/**/*.pdf

